/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;  /* Asegura que el footer esté alineado desde el borde izquierdo */
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

/* Estilos para la información de contacto */
.contact-info {
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block; /* Asegura que el texto se quede centrado */
}

/* Estilos para los enlaces de WhatsApp */
.whatsapp-link {
    margin: 0 5px;
    font-size: 12px;
    display: inline-block; /* Asegura que los enlaces se alineen de forma horizontal */
}

/* Asegurarse que el contenedor de los enlaces quede centrado */
footer .contact-info, footer .whatsapp-link {
    display: inline-block;
    text-align: center;
}