/* === ESTILOS GENERALES === */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('https://github.com/Joelordmath/airbees/blob/main/assets/background.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #484848;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: flex-start; /* Alinea desde el inicio del contenedor */
}

/* === ESTILOS PARA EL HEADER === */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 15px;
    font-family: 'Arial', sans-serif;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra para dar efecto de separación */
}

header a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover {
    color: #004a99;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header p {
    font-size: 16px;
    margin: 5px 0;
    color: #666;
}

/* === SECCIONES === */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 180px; /* Agrega espacio entre el header y el contenedor */
    text-align: justify;
}

.highlighted {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
}

/* === ESTILOS PARA LAS TARJETAS DE INFORMACIÓN === */
.info-card {
    display: block; 
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
    padding: 10px;
}

.info-card img {
    width: 30px; 
    height: 30px;
    margin-bottom: 10px; 
}

.info-card a {
    display: block;
    font-weight: normal;
    color: #0066cc;
    font-size: 14px;
}

.info-card a:hover {
    color: #004a99;
}

/* Estilos adicionales para el contenedor .info para que los cards se vean alineados */
.info {
    display: block;
    margin-top: 20px;
}

/* === ESTILOS PARA EL FOOTER === */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #ccc;
    padding: 10px 0;
    font-size: 14px;
    margin-top: auto;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.contact-info, .whatsapp-link {
    display: inline-block;
    margin: 5px 10px;
    font-size: 12px;
}

/* === ESTILOS PARA LAS SECCIONES === */
section {
    margin: 20px;
}

/* === ESTILOS PARA LAS TARJETAS DE INFORMACIÓN === */
.info-card {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.info-card img {
    width: 30px;
    height: 30px;
}

.info-card a {
    display: block;
    font-weight: bold;
    color: #0066cc;
}

.info-card a:hover {
    color: #004a99;
}

/* === ESTILOS RESPONSIVOS === */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
        text-align: center;
    }

    .container {
        padding: 15px;
        margin-top: 120px;
    }

    h1 {
        font-size: 24px;
    }

    footer {
        font-size: 12px;
        margin-block: 5px;
        margin-top: auto;
    }

    p {
        font-size: 12px;
        margin-block: 5px;
    }

    .info-card {
        width: 100%;
        margin-bottom: 15px;
        padding: 0;
    }

    .link-icon {
        width: 10px;
        height: 10px;
    }

    .contact-info, .whatsapp-link {
        font-size: 12px;
    }
}
